
<app-nav-side></app-nav-side>

<div class="container">
    <div class="card">
        <img src="https://www.google.com/search?q=profile&sxsrf=APq-WBtpj2_6hHDuDJ7JQ34QKADBDtu6bg:
                  1650872914008&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjRhe_s3K73AhXHPsAKHRfNAfQQ_AU
                  oAXoECAMQAw&biw=1366&bih=639&dpr=1#imgrc=lcjtk8drNcGL8M"
        alt="Person" class="card__image">

           <p class="card__name">Baloyi@thedigitalacademy.co.za</p>
    </div>

    <div class="card">
        <img src="https://www.google.com/search?q=profile&sxsrf=APq-WBtpj2_6hHDuDJ7JQ34QKADBDtu6bg:
                  1650872914008&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjRhe_s3K73AhXHPsAKHRfNAfQQ_AU
                  oAXoECAMQAw&biw=1366&bih=639&dpr=1#imgrc=lcjtk8drNcGL8M"
        alt="Person" class="card__image">

           <p class="card__name">Dipa@thedigitalacademy.co.za/p>
    </div>

    <div class="card">
        <img src="https://www.google.com/search?q=profile&sxsrf=APq-WBtpj2_6hHDuDJ7JQ34QKADBDtu6bg:
                  1650872914008&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjRhe_s3K73AhXHPsAKHRfNAfQQ_AU
                  oAXoECAMQAw&biw=1366&bih=639&dpr=1#imgrc=lcjtk8drNcGL8M"
        alt="Person" class="card__image">

           <p class="card__name">Maluleka@thedigitalacademy.co.za</p>
    </div>

    <div class="card">
        <img src="https://www.google.com/search?q=profile&sxsrf=APq-WBtpj2_6hHDuDJ7JQ34QKADBDtu6bg:
                  1650872914008&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjRhe_s3K73AhXHPsAKHRfNAfQQ_AU
                  oAXoECAMQAw&biw=1366&bih=639&dpr=1#imgrc=lcjtk8drNcGL8M"
        alt="Person" class="card__image">

           <p class="card__name">Mnisi@thedigitalacademy.co.za</p>
    </div>
</div>    